.board {
    display: grid;
    grid-template: repeat(3, 13vh) / repeat(3, 13vh);
    padding-bottom: 5vmin;
    justify-self: center;
}

body {
    display: grid;
    justify-items: stretch;
    grid-template-rows: 1fr 3fr 0.5fr 0.5fr;
    background-color: black;
    color: white;
    font-family: "DejaVu Sans Mono", sans-serif;
}

.board-element {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: white;
    font-size: 5vmin;
    font-weight: bold;
    justify-self: stretch;
    text-align: center;
    align-self: center;
}

.top {
    border-bottom: 5px solid white;
}

.middle {
    border-bottom: 5px solid white;
}

.left {
    border-right: 5px solid white;
}

.centre {
    border-right: 5px solid white;
}

.pair {
    color: white;
}

button {
    cursor: pointer;
}

.x, .o {
    /*position: relative;*/
    will-change: transform;
    transform: translate3d(0, 0, 0);
    animation: appear .2s cubic-bezier(0.5, 1.8, 0.1, 1.1);
    width: 100%;
    height: 85%;
    justify-self: center;
}

.x:before {
    transform: rotate(-45deg);
}

.x:after {
    transform: rotate(45deg);
}

.x:before, .x:after {
    position: absolute;
    content: "";
    display: block;
    background-color: #fff;
    left: 45%;
    top: 0;
    width: 10%;
    height: 100%;
    border-radius: 4px;
    justify-self: center;
    align-self: center;
}

.o {
    left: 16.666666667%;
    top: 16.666666667%;
    width: 56.666666667%;
    height: 56.666666667%;
    border-radius: 50%;
    border: 1vmin solid #fff;
}

.form-items {
    display: flex;
    justify-self: center;
    justify-content: space-evenly;
    gap: 3vmax;
}

.pair {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 1vmax;
}

.buttons {
    justify-self: center;
    align-self: center;
}

.label-x {
    width: 3vmax;
    height: 3vmax;
}

.label-o {
    width: 2vmax;
    height: 2vmax;
    border: 0.6vmin solid #fff;
}


input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;

    font: inherit;
    color: currentColor;
    width: 1vmax;
    height: 1vmax;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;
}

input[type="radio"]::before {
    content: "";
    width: 1vmax;
    height: 1vmax;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
}

input[type="radio"]:focus {
    outline: max(2px, 0.15em) solid white;
    outline-offset: max(2px, 0.15em);
}

button {
    background-color: black;
    color: white;
    padding: 1vmax 2vmax;
    position: relative;
    font-weight: bold;
    font-size: 1vmax;
    border-radius: 20px;
    border-color: white;
    border-width: 0.15em;
    margin-top: 3vmax;
}

.winner {
    text-align: center;
    font-size: 1.5vmax;
    margin-top: 1.5vmax;
}