.board {
    display: grid;
    grid-template: repeat(3, 13vh) / repeat(3, 13vh);
}

body {
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr 3fr 1fr 1fr;
    background-color: black;
    color: white;
    font-family: "DejaVu Sans Mono", sans-serif;
}

.board-element {
    display: flex;
    border: 1px solid white;
    justify-content: center;
    align-items: center;
}

.title {
    color: white;
    font-size: 2vmax;
}